services:
  coturn:
    image: coturn/coturn
    container_name: coturn
    restart: always
    # 直接使用主机的网络，这是最简单、性能最好的方式。
    network_mode: host
    volumes:
      # 将当前目录下的 turnserver.conf 挂载到容器内
      - ./turnserver.conf:/etc/coturn/turnserver.conf

      # 将 Nginx 使用的证书挂载到容器内，供 Coturn 使用
      # 请确保这些主机路径是正确的！
      - ./ppmc.club_bundle.crt:/etc/coturn/certs/ppmc.club_bundle.crt
      - ./ppmc.club.key:/etc/coturn/certs/ppmc.club.key

    command: ["-c", "/etc/coturn/turnserver.conf"]